// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    margin-top: 124px;
    margin-bottom: 72px;
}

.navbar-default .navbar-nav>li {
    @include hFive;
    a {
        padding: {
            top: 0;
            bottom: 0;
        }
        margin: {
            top: 8px;
            bottom: 8px;
            left: 24px;
        }
        color: $backgroundLight;
        &:hover {
            color: $accent;
            cursor: pointer;
        }
    }
}