// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.navbar-default {
    background-color: transparent;
    margin-top: 72px;
    margin-bottom: 56px;
    border: none;
}