// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.navbar-default {
    background-color: transparent;
    border-radius: 0;
    border: none;
    padding-top: 72px;
    padding-bottom: 24px;
    
}