// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Accent cOLOR
/// @type Color
$accent: rgb(246, 213, 70) !default;

/// primary Color
/// @type Color
$primary: rgb(248, 50, 48) !default;

/// Background Color
/// @type Color
$background: rgb(27, 5, 66) !default;

/// Background Derivative 1
/// @type Color
$backgroundDark: rgb(107, 86, 144) !default;

/// Background Derivative 3
/// @type Color
$backgroundLight: rgb(167, 149, 198) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
